:root {
  font-size: $font-size;
}

*,
*::after,
*::before {
  backface-visibility: inherit;
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  text-decoration: inherit;
}

html,
body {
  backface-visibility: hidden;
  box-sizing: border-box;
  height: auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  width: 100%;
  z-index: 0;
}

body {
  background-color: $text-color;
  color: $secondary-color;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: $line-height;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em,
i {
  font-weight: 300;
}

strong,
b {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: $line-height-big;

  > span {
    color: $primary-color;
  }
}

h2 {
  justify-self: center;
  font-size: 2rem;
}

.btn {
  padding: {
    bottom: calc(1rem / 3);
    left: calc(2rem / 3);
    right: calc(2rem / 3);
    top: calc(1rem / 3);
  }
}

a {
  color: inherit;
}

ul {
  font-size: 0;
  line-height: 0;
  list-style: none;
  padding: 0;

  li {
    font-size: 1rem;
    line-height: $line-height;
    position: relative;
    // text-align: center;

    a {
      @extend .btn;

      display: block;
      position: inherit;
    }
  }

  &.horizontal {
    > li {
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }
}

input:not([type="checkbox"], [type="radio"]),
button,
select,
textarea {
  -webkit-appearance: none;
}

picture,
img {
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 77rem;
  padding-bottom: 3.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3.125rem;
  width: 100%;

  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  // grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-template-rows: auto;

  p:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.container-full {
  @extend .container;
  max-width: 100%;
}

.container-one-col {
  @extend .container;
  grid-template-columns: 1fr;
}

.full-width {
  grid-column-start: 1;
  grid-column-end: -1;
  // width: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.justify {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.vertical {
    align-items: center;
  }

  &.vcenter {
    @extend .vertical;
    @extend .center;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }
}

.text {
  &-upper {
    text-transform: uppercase;
  }

  &-thin {
    font-weight: 300;
  }

  &-bold {
    font-weight: 700;
  }
}

// color
@import "partials/colors";

// header
@import "partials/header";

// navigation
@import "partials/nav";

// footer
@import "partials/footer";

// server
@import "partials/sections/server";

// news
@import "partials/sections/news";
