{% extends "base.html.twig" %}

{% block header %}
    {% include "parts/header-index.html.twig" %}
{% endblock %}

{% block main %}
    {% include "parts/sections/list-of-rules.html.twig" %}
    {% include "parts/sections/list-of-servers.html.twig" %}
    {% include "parts/sections/news.html.twig" %}
{% endblock %}
