.news {
  &-container {
    @extend .full-width;

    display: grid;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: 1fr;

    .slick {
      &-dots {
        @extend ul.horizontal;

        color: $text-color;
        text-align: center;

        > li {
          line-height: 1;
        }

        button {
          background-color: $secondary-color;
          border: none;
          padding: {
            bottom: 0.3rem;
            left: 0.5rem;
            right: 0.5rem;
            top: 0.3rem;
          }
        }
      }

      &-active {
        > button {
          @include background-gradient(0deg, $secondary-color-dark, $secondary-color);
        }
      }
    }
  }

  &-item {
    align-items: stretch;
    background-color: $text-color-dark;
    flex-direction: column;
    min-height: 5rem;
    text-align: unset;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }

    @media (min-width: 64rem) {
      flex-direction: row;
    }
  }

  &-date,
  &-info {
    align-items: center;
    display: flex;
    padding: 1rem;
  }

  &-date {
    @include background-gradient(0deg, $secondary-color-dark, $secondary-color);

    color: $text-color;
    font-weight: 700;
  }

  &-info {
    flex: 1;
  }
}
