.server {
  background-color: $text-color-dark;
  border-top: 0.3rem solid $primary-color;
  color: $secondary-color;

  &-info {
    padding: 1rem;
  }

  &-details {
    align-items: center;
    background-color: $secondary-color;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  &-price,
  &-more {
    flex-grow: 1;
    text-align: center;
  }

  &-price {
    background-color: $text-color;
    border: {
      radius: 0 5rem 5rem 0;
    }
    padding: 1rem;
  }
}
