{% spaceless %}
    <ul class="horizontal footer-menu">
        {% for item in menu %}
            <li class="text-upper {{ item.item_classes }}">
                <a href="{{ item.item_url }}">{{ item.item_name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}
