{% spaceless %}
    <ul class="horizontal second-menu">
        {% for item in menu %}
            <li class="text-upper {{ item.item_classes }}">
                <a href="{{ item.item_url }}" class="flex vertical">
                    {% if item.item_icon is not empty %}
                        <span data-feather="{{ item.item_icon }}"></span>
                    {% endif %}
                    {{ item.item_name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}
