$font-size: 16px !default;
$line-height: 1.2em !default;
$line-height-big: 1.5em !default;

$difference: 5%;

$primary-color: #dc0000;
$primary-color-dark: darken($primary-color, $difference);

$secondary-color: #274261;
$secondary-color-dark: darken($secondary-color, $difference);

$text-color: #ffffff;
$text-color-dark: darken($text-color, $difference);

$divider-color: #199900;
$divider-color-dark: darken($divider-color, $difference);
