@mixin background-image($url, $attachment: fixed) {
  background-attachment: $attachment;
  background-image: url(#{$url});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin background-gradient($angle, $first-color, $second-color) {
  background-image: linear-gradient($angle, $first-color, $second-color);
}

@mixin transition() {
  transition-delay: 0;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: linear;
}
