{% spaceless %}
    <section id="rules">
        <div class="container">
            <h2 class="full-width text-upper">Serwer na Twoich zasadach!
                <span>Jak zacząć?</span>
            </h2>
        </div>
    </section>
{% endspaceless %}
