{% spaceless %}
    <section id="servers">
        <div class="container">
            <h2 class="full-width text-upper">
                <span>
                    Lista serwerów
                </span>
                gier jakie oferujemy
            </h2>

            {% for server in servers %}
                <div class="server">
                    <div class="server-info">
                        <div class="server-icon">
                            {{ server.icon }}
                        </div>
                        <div class="server-name">
                            {{ server.name }}
                        </div>
                        <div class="server-settings">
                            {% set settings = server.settings|default([]) %}

                            <ul>
                                {% if settings.antyDdos %}
                                    <li>
                                        {% if not settings.antyDdosPrice %}
                                            Darmowa
                                        {% endif %}
                                        Ochrona antyDDoS
                                    </li>
                                {% endif %}

                                {% if settings.console %}
                                    <li>
                                        Dostęp do konsoli
                                    </li>
                                {% endif %}

                                {% if settings.autoinstall %}
                                    <li>
                                        Automatyczny instalator
                                    </li>
                                {% endif %}

                                {% if settings.fastdl %}
                                    <li>
                                        {% if not settings.fastdlPrice %}
                                            Darmowy
                                        {% endif %}
                                        FastDL
                                    </li>
                                {% endif %}

                                {% if settings.hltv %}
                                    <li>
                                        HLTV w pakiecie
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="server-details">
                        <div class="server-price">
                            od
                            {{ server.price|number_format }}
                            PLN
                            <br/>
                            <small>
                                za slot publiczny
                            </small>
                        </div>
                        <div class="server-more">
                            <a href="/servers/{{ loop.index }}" class="btn color red-gradient">
                                Oferta
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endspaceless %}