{% spaceless %}
    <section id="news">
        <div class="container">
            <h2 class="full-width text-upper">Ważne
                <span>informacje</span>
            </h2>
            <div class="news-container">
                {% for batch in news|batch(4) %}
                    <ul class="news news-page-{{ loop.index }}">
                        {% for item in batch %}
                            <li class="news-item flex">
                                <div class="news-date">{{ item.date }}</div>
                                <div class="news-info">{{ item.text }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </section>
{% endspaceless %}
