<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        {% spaceless %}
            <title>
                {% block title %}
                    {{ title|default('')|title }}
                {% endblock %}
                {% if title is defined %}
                    ::
                {% endif %}
                {{ website_name }}
            </title>
        {% endspaceless %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Condensed&display=swap&subset=latin-ext" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet">
        <link href="/app/css/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    </head>
    {% if page_name is defined %}
        {% set page_name = 'page-' ~ page_name %}
    {% endif %}
    <body id="{{ page_name|default('page')|lower }}" class="page {{ additional_class_list|join(' ') }}">
        {% block body %}
            {% include "parts/nav.html.twig" %}
            {% block header %}
                {% include "parts/header.html.twig" %}
            {% endblock %}
            <main class="main-content">
                {% spaceless %}
                    {% block main %}
                    {% endblock %}
                {% endspaceless %}
            </main>
            {% include "parts/footer.html.twig" %}
        {% endblock %}
        <script>
            feather.replace(
                {'class': 'icon', 'stroke-width': 1}
            );
        </script>
        <script src="/app/js/custom.js"></script>
        {% block page_scripts %}
        {% endblock %}
    </body>
</html>