<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>EvilHost.pl - Hosting serwerów gier!</title>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans|Poppins:300,400,600,800&display=swap" rel="stylesheet">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css' rel='stylesheet' type='text/css'>

        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) 
                    return;
                


                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.6";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </head>

    <body>
        <div id="up">
            <div class="width">
                <span class="left">
                    <nav class="menu">
                        <ul>
                            <li><a href="index.html">Strona Główna</a></li>
                            <li><a href="cennik.html">Cennik</a></li>
                            <li><a href="kontakt.html">Kontakt</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="/wiki">Wiki</a></li>
                        </ul>
                    </nav>
                </span>
                <span class="right">
                    <a href="">
                        <div class="btns btn-register">
                            <i class="fas fa-user-plus"></i>&nbsp;Rejestracja</div>
                    </a>
                    <a href="">
                        <div class="btns btn-login">
                            <i class="fas fa-key"></i>&nbsp;Zaloguj się</div>
                    </a>
                </span>
            </div>
        </div>

        <div id="header">
            <div class="width">
                <span class="left"><img src="images/logo.png"/></span>
                <span class="mapa"><img class="maps" src="images/mapa.png"/>
                    <span class="serwer">
                        <span style="font-size: 14px;">
                            <b>Losowy</b>
                            Serwer</span><br/><br/>
                        FREEKILLERS [FFA] @ EVILHOST.PL<br/>
                        GRACZE: 14/16 (90%)<br/>
                        GRA: COUNTER STRIKE GLOBAL OFFENISVE</span>
                </span>
            </div>
        </div>

        <div id="container" style="margin-bottom: 150px;">
            <div class="width">
                <h2 class="h2_title">serwer na twoich zasadach!
                    <span style="color:#bd0808;">jak zacząć?</span>
                </h2>
                <div class="container">
                    <div class="box" style="margin-left: 20px;">1. Załóż Konto<br/>
                        <img class="icon" src="images/iconzaloz.png"/></div>

                    <div class="box">2. Wybierz Serwer Gry<br/>
                        <img class="icon" src="images/iconwybierz.png"/></div>

                    <div class="box">3. Zapłać<br/>
                        <img class="icon" src="images/iconzaplac.png"/></div>

                    <div class="box">4. Skonfiguruj Serwer<br/>
                        <img class="icon" src="images/iconustaw.png"/></div>

                    <div class="box">5. Graj!<br/>
                        <img class="icon" src="images/icongraj.png"/>
                    </div>
                </div>
            </div>
        </div>

        <div id="container" style="margin-bottom: 715px;">
            <div class="width">
                <h1 class="h1_title">lista serwerów gier
                    <span style="color:#bd0808;">które oferujemy</span>
                </h1>
                <div class="offer-panel ">
                    <div class="inner">
                        <div class="gameimg"><img class="game_list_img" src="images/games/cs16.png"></div>
                        <p class="name">counter strike</p>
                        <p class="serv_info_list">
                            <span class="serv_info">
                                <i class="fas fa-shield-alt"></i>&nbsp;&nbsp;ochrona antyddos
                                                                                                                                            gratis</span>
                            <span class="serv_info">
                                <i class="fas fa-code"></i>&nbsp;&nbsp;dostęp do konsoli</span>
                            <span class="serv_info">
                                <i class="fas fa-cog"></i>&nbsp;&nbsp;automatyczny instalator</span>
                            <span class="serv_info">
                                <i class="fas fa-download"></i>&nbsp;&nbsp;darmowy fastdl</span>
                            <span class="serv_info">
                                <i class="fas fa-video"></i>&nbsp;&nbsp;hltv w pakiecie</span>
                        </p>
                        <div class="info">

                            <p>
                                <em>od</em>
                                <em>1<sup>00</sup>
                                </em>
                                <em>zł</em>
                                <em class="what_slot">za slot publiczny</em>
                            </p>

                            <a class="btns btn-g-list btn-game" href="https://evilhost.pl/oferta/1">
                                <span>Oferta</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="offer-panel ">
                    <div class="inner">
                        <div class="gameimg"><img class="game_list_img" src="images/games/csgo.png"></div>
                        <p class="name">counter strike global offensive</p>
                        <p class="serv_info_list">
                            <span class="serv_info">
                                <i class="fas fa-shield-alt"></i>&nbsp;&nbsp;ochrona antyddos
                                                                                                                                            gratis</span>
                            <span class="serv_info">
                                <i class="fas fa-code"></i>&nbsp;&nbsp;dostęp do konsoli</span>
                            <span class="serv_info">
                                <i class="fas fa-cog"></i>&nbsp;&nbsp;automatyczny instalator</span>
                            <span class="serv_info">
                                <i class="fas fa-download"></i>&nbsp;&nbsp;darmowy fastdl</span>
                            <span class="serv_info">
                                <i class="fas fa-video"></i>&nbsp;&nbsp;hltv w pakiecie</span>
                        </p>
                        <div class="info">

                            <p>
                                <em>od</em>
                                <em>2<sup>40</sup>
                                </em>
                                <em>zł</em>
                                <em class="what_slot">za slot publiczny</em>
                            </p>

                            <a class="btns btn-g-list btn-game" href="https://evilhost.pl/oferta/2/">
                                <span>Oferta</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="offer-panel ">
                    <div class="inner">
                        <div class="gameimg"><img class="game_list_img" src="images/games/rust.png"></div>
                        <p class="name">rust</p>
                        <p class="serv_info_list">
                            <span class="serv_info">
                                <i class="fas fa-shield-alt"></i>&nbsp;&nbsp;ochrona antyddos
                                                                                                                                            gratis</span>
                            <span class="serv_info">
                                <i class="fas fa-code"></i>&nbsp;&nbsp;dostęp do konsoli</span>
                            <span class="serv_info">
                                <i class="fas fa-cog"></i>&nbsp;&nbsp;automatyczny instalator</span>
                            <span class="serv_info">
                                <i class="fas fa-download"></i>&nbsp;&nbsp;darmowy fastdl</span>
                            <span class="serv_info">
                                <i class="fas fa-video"></i>&nbsp;&nbsp;hltv w pakiecie</span>
                        </p>
                        <div class="info">

                            <p>
                                <em>od</em>
                                <em>1<sup>30</sup>
                                </em>
                                <em>zł</em>
                                <em class="what_slot">za slot publiczny</em>
                            </p>

                            <a class="btns btn-g-list btn-game" href="https://evilhost.pl/oferta/2/">
                                <span>Oferta</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="offer-panel ">
                    <div class="inner">
                        <div class="gameimg"><img class="game_list_img" src="images/games/samp.png"></div>
                        <p class="name">san andreas multiplayer</p>
                        <p class="serv_info_list">
                            <span class="serv_info">
                                <i class="fas fa-shield-alt"></i>&nbsp;&nbsp;ochrona antyddos
                                                                                                                                            gratis</span>
                            <span class="serv_info">
                                <i class="fas fa-code"></i>&nbsp;&nbsp;dostęp do konsoli</span>
                            <span class="serv_info">
                                <i class="fas fa-cog"></i>&nbsp;&nbsp;automatyczny instalator</span>
                            <span class="serv_info">
                                <i class="fas fa-download"></i>&nbsp;&nbsp;darmowy fastdl</span>
                            <span class="serv_info">
                                <i class="fas fa-video"></i>&nbsp;&nbsp;hltv w pakiecie</span>
                        </p>
                        <div class="info">

                            <p>
                                <em>od</em>
                                <em>0<sup>30</sup>
                                </em>
                                <em>zł</em>
                                <em class="what_slot">za slot publiczny</em>
                            </p>

                            <a class="btns btn-g-list btn-game" href="https://evilhost.pl/oferta/2/">
                                <span>Oferta</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="aktu">
            <div class="width">
                <span class="data">12.06</span>
                <span class="tresc">
                    <span style="margin-left: 15px;">Promocja! Serwery
                                                                                                Gier Counter-Strike Global Offensive, 1.6 15% Taniej! KOD: CS15</span>
                </span>
                <span class="data">07.06</span>
                <span class="tresc">
                    <span style="margin-left: 15px;">Wróciliśmy po
                                                                                                przerwie 3 dniowej. Parę problemów na początek, ale daliśmy rade i już jesteśmy zwarci i gotowi
                                                                                                na nowych graczy.</span>
                </span>
                <span class="data">30.05</span>
                <span class="tresc">
                    <span style="margin-left: 15px;">Uruchomiliśmy chat
                                                                                                online! Od teraz możecie się z nami kontaktować o każdej porze i uzyskiwać odpowiedzi na wasze
                                                                                                pytania lub problemy. Zapraszamy!</span>
                </span>
            </div>
        </div>
        <div id="pagination">
            <center>
                <a href="#">
                    <span class="strona">1</span>
                </a>
                <a href="#">
                    <span class="strona">2</span>
                </a>
            </center>
        </div>

        <div id="footer">
            <center>
                <a href="javascript:scroll(0,0);"><img src="images/dogory.png" style="position: absolute; margin-top: 47px; margin-left: -10px;"/></a>
            </center>
            <div class="width">
                <span class="left">
                    <span style="font-size: 12px;">WSZELKIE PRAWA ZASTRZEŻONE DLA
                        <b>NORTH-GAME.PL</b><br/>
                        ZAKAZ KOPIOWANIA GRAFIKI ORAZ KODU HTML</span><br/><br/>
                    PROJEKT:
                    <a href="GG:50643321">
                        <b>ARISovsky</b>
                    </a><br/>
                    WDROŻENIE:
                    <b>Nazwa Kodera</b>&nbsp;&nbsp;&nbsp;KODOWANIE:
                    <a href="GG:50643321">
                        <b>ARISovsky</b>
                    </a>
                </span>
                <span class="right">
                    <a href="#">Nasze Bannery</a>
                    &bull;
                    <a href="#">Współpraca</a>
                    &bull;
                    <a href="#">Regulamin</a>
                </div>
            </div>
        </body>
    </body>
</html>
