button,
.btn {
    @include transition();
    border-radius: 5rem;

    padding: {
        bottom: calc(1rem/3);
        left: 1.5rem;
        right: 1.5rem;
        top: calc(1rem/3);
    }

    text-align: center;
}

.btn {
    &-dark {
        background-color: $secondary-color;
        color: $text-color;

        &:hover {
            background-color: $secondary-color-dark;
        }
    }

    &-white {
        background-color: $text-color;
        color: $secondary-color;

        &:hover {
            background-color: $text-color-dark;
        }
    }
}