.color {
  &.red {
    color: $primary-color;

    &-gradient {
      @include background-gradient(-90deg, $primary-color-dark, $primary-color);
      color: $text-color;
    }
  }

  &.green {
    color: $divider-color;

    &-gradient {
      @include background-gradient(-90deg, $divider-color-dark, $divider-color);
      color: $text-color;
    }
  }
}
