.main-footer {
  @include background-image("../images/footerbg.png", unset);

  background-color: $secondary-color-dark;
  color: $text-color;
  font-size: 0.8rem;

  > .container {
    padding: {
      bottom: 1rem;
      top: 1rem;
    }

    @media (min-width: 64rem) {
      > :nth-child(1) {
        order: 2;
      }

      > :nth-child(2) {
        order: 1;
      }
    }
  }
}

.footer {
  &-menu {
    > li {
      font-size: 0.8rem;
    }
  }
}
