.main,
.second {
  &-menu {
    > li {
      font-size: 0.9rem;
    }
  }
}

.main {
  &-nav {
    background-color: $text-color;

    > .container {
      padding: {
        bottom: 0;
        top: 0;
      }
    }
  }

  &-menu {
    > li {
      > a {
        padding: {
          bottom: 2rem;
          top: 2rem;
        }

        &::before {
          @include transition();

          background-color: transparent;
          bottom: auto;
          content: "";
          display: block;
          height: 0.3rem;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
        }

        &:hover {
          &::before {
            background-color: $secondary-color;
          }
        }
      }

      &.active {
        > a {
          &::before {
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}
