{% spaceless %}
    <footer class="main-footer">
        <div class="container flex justify vertical">
            {% block footer %}
                <div>
                    {% include "parts/nav/footer-menu.html.twig" with {
                        'menu': footer_menu
                    } %}
                </div>
                <div class="flex-column">
                    <p>
                        &copy; 2019
                        {{ website_name }}
                    </p>
                    <p>
                        Grafika:
                        <a href="GG:50643321" target="_blank">
                            ARISovsky
                        </a>
                        . Wdrożenie:
                        <a href="//dziubczynski.pl" target="_blank" title="Piotr Dziubczyński, PHP Developer">
                            -n3veR
                        </a>
                        .
                    </p>
                </div>
            {% endblock %}
        </div>
    </footer>
{% endspaceless %}