{% spaceless %}
    <nav class="main-nav">
        <div class="container flex justify vertical">
            {% block nav %}
                {% include "parts/nav/main-menu.html.twig" %}
                {% include "parts/nav/second-menu.html.twig" with {
                    'menu': second_menu
                } %}
            {% endblock %}
        </div>
    </nav>
{% endspaceless %}
